<h2 class="grey-text text-lighten-2 pageTitle">{{storyName}}</h2>
{{#each storyArray}} {{#if this}}
<div class="row">
  <div class="col s12">
    <div class="card white-text">
      <div class="card-image">
        <img src="http://centerforcreativemedia.com/wp-content/uploads/2016/02/up_movie_balloons_house-1440x900.jpg">
        <a class="btn-floating halfway-fab waves-effect waves-light red" onclick='responsiveVoice.speak("{{this}}", "UK English Male", {pitch: 1});'
          type='button' /><i class="material-icons">record_voice_over</i></a>
      </div>
      <div class="card-content">
        <p>{{this}}</p>
      </div>
    </div>
  </div>
</div>
{{/if}} {{/each}}