<h2 class="grey-text text-lighten-2 pageTitle">{{storyName}}</h2>
<a href="/cards/{{id}}" >View Cards</a>
<div class="row">
    {{#each storyArray}}
    <p class="white-text segments">{{this}}</p>
    {{/each}}
</div>