<h2 class="grey-text text-lighten-2 pageTitle">{{storyName}}</h2>
<a href="/cards/{{id}}" >View Cards</a>
<div class="row reveal-container">
    {{#each storyArray}}
    <p class="grey-text text-lighten-2 segments">{{this}}</p>
    {{/each}}
</div>