.clean {
  background-color: #A7D2CB !important;
}

.clean-text {
  color: #A7D2CB !important;
}

/* .clean.lighten-5 {
  background-color: #FFEBEE !important;
}

.clean-text.text-lighten-5 {
  color: #FFEBEE !important;
}

.clean.lighten-4 {
  background-color: #FFCDD2 !important;
}

.clean-text.text-lighten-4 {
  color: #FFCDD2 !important;
}

.clean.lighten-3 {
  background-color: #EF9A9A !important;
}

.clean-text.text-lighten-3 {
  color: #EF9A9A !important;
}

.clean.lighten-2 {
  background-color: #E57373 !important;
}

.clean-text.text-lighten-2 {
  color: #E57373 !important;
}

.clean.lighten-1 {
  background-color: #EF5350 !important;
}

.clean-text.text-lighten-1 {
  color: #EF5350 !important;
}

.clean.darken-1 {
  background-color: #E53935 !important;
}

.clean-text.text-darken-1 {
  color: #E53935 !important;
}

.clean.darken-2 {
  background-color: #D32F2F !important;
}

.clean-text.text-darken-2 {
  color: #D32F2F !important;
}

.clean.darken-3 {
  background-color: #C62828 !important;
}

.clean-text.text-darken-3 {
  color: #C62828 !important;
}

.clean.darken-4 {
  background-color: #B71C1C !important;
}

.clean-text.text-darken-4 {
  color: #B71C1C !important;
}

.clean.accent-1 {
  background-color: #FF8A80 !important;
}

.clean-text.text-accent-1 {
  color: #FF8A80 !important;
}

.clean.accent-2 {
  background-color: #FF5252 !important;
}

.clean-text.text-accent-2 {
  color: #FF5252 !important;
}

.clean.accent-3 {
  background-color: #FF1744 !important;
}

.clean-text.text-accent-3 {
  color: #FF1744 !important;
}

.clean.accent-4 {
  background-color: #D50000 !important;
}

.clean-text.text-accent-4 {
  color: #D50000 !important;
} */

.butter {
  background-color: #F2D388 !important;
}

.butter-text {
  color: #F2D388 !important;
}

/* .butter.lighten-5 {
  background-color: #FFEBEE !important;
}

.butter-text.text-lighten-5 {
  color: #FFEBEE !important;
}

.butter.lighten-4 {
  background-color: #FFCDD2 !important;
}

.butter-text.text-lighten-4 {
  color: #FFCDD2 !important;
}

.butter.lighten-3 {
  background-color: #EF9A9A !important;
}

.butter-text.text-lighten-3 {
  color: #EF9A9A !important;
}

.butter.lighten-2 {
  background-color: #E57373 !important;
}

.butter-text.text-lighten-2 {
  color: #E57373 !important;
}

.butter.lighten-1 {
  background-color: #EF5350 !important;
}

.butter-text.text-lighten-1 {
  color: #EF5350 !important;
}

.butter.darken-1 {
  background-color: #E53935 !important;
}

.butter-text.text-darken-1 {
  color: #E53935 !important;
}

.butter.darken-2 {
  background-color: #D32F2F !important;
}

.butter-text.text-darken-2 {
  color: #D32F2F !important;
}

.butter.darken-3 {
  background-color: #C62828 !important;
}

.butter-text.text-darken-3 {
  color: #C62828 !important;
}

.butter.darken-4 {
  background-color: #B71C1C !important;
}

.butter-text.text-darken-4 {
  color: #B71C1C !important;
}

.butter.accent-1 {
  background-color: #FF8A80 !important;
}

.butter-text.text-accent-1 {
  color: #FF8A80 !important;
}

.butter.accent-2 {
  background-color: #FF5252 !important;
}

.butter-text.text-accent-2 {
  color: #FF5252 !important;
}

.butter.accent-3 {
  background-color: #FF1744 !important;
}

.butter-text.text-accent-3 {
  color: #FF1744 !important;
}

.butter.accent-4 {
  background-color: #D50000 !important;
}

.butter-text.text-accent-4 {
  color: #D50000 !important;
} */

.salmon {
  background-color: #C98474 !important;
}

.salmon-text {
  color: #C98474 !important;
}

/* .salmon.lighten-5 {
  background-color: #FFEBEE !important;
}

.salmon-text.text-lighten-5 {
  color: #FFEBEE !important;
}

.salmon.lighten-4 {
  background-color: #FFCDD2 !important;
}

.salmon-text.text-lighten-4 {
  color: #FFCDD2 !important;
}

.salmon.lighten-3 {
  background-color: #EF9A9A !important;
}

.salmon-text.text-lighten-3 {
  color: #EF9A9A !important;
}

.salmon.lighten-2 {
  background-color: #E57373 !important;
}

.salmon-text.text-lighten-2 {
  color: #E57373 !important;
}

.salmon.lighten-1 {
  background-color: #EF5350 !important;
}

.salmon-text.text-lighten-1 {
  color: #EF5350 !important;
}

.salmon.darken-1 {
  background-color: #E53935 !important;
}

.salmon-text.text-darken-1 {
  color: #E53935 !important;
}

.salmon.darken-2 {
  background-color: #D32F2F !important;
}

.salmon-text.text-darken-2 {
  color: #D32F2F !important;
}

.salmon.darken-3 {
  background-color: #C62828 !important;
}

.salmon-text.text-darken-3 {
  color: #C62828 !important;
}

.salmon.darken-4 {
  background-color: #B71C1C !important;
}

.salmon-text.text-darken-4 {
  color: #B71C1C !important;
}

.salmon.accent-1 {
  background-color: #FF8A80 !important;
}

.salmon-text.text-accent-1 {
  color: #FF8A80 !important;
}

.salmon.accent-2 {
  background-color: #FF5252 !important;
}

.salmon-text.text-accent-2 {
  color: #FF5252 !important;
}

.salmon.accent-3 {
  background-color: #FF1744 !important;
}

.salmon-text.text-accent-3 {
  color: #FF1744 !important;
}

.salmon.accent-4 {
  background-color: #D50000 !important;
}

.salmon-text.text-accent-4 {
  color: #D50000 !important;
} */

.eggplant {
  background-color: #874C62 !important;
}

.eggplant-text {
  color: #874C62 !important;
}

/* .eggplant.lighten-5 {
  background-color: #FFEBEE !important;
}

.eggplant-text.text-lighten-5 {
  color: #FFEBEE !important;
}

.eggplant.lighten-4 {
  background-color: #FFCDD2 !important;
}

.eggplant-text.text-lighten-4 {
  color: #FFCDD2 !important;
}

.eggplant.lighten-3 {
  background-color: #EF9A9A !important;
}

.eggplant-text.text-lighten-3 {
  color: #EF9A9A !important;
}

.eggplant.lighten-2 {
  background-color: #E57373 !important;
}

.eggplant-text.text-lighten-2 {
  color: #E57373 !important;
}

.eggplant.lighten-1 {
  background-color: #EF5350 !important;
}

.eggplant-text.text-lighten-1 {
  color: #EF5350 !important;
}

.eggplant.darken-1 {
  background-color: #E53935 !important;
}

.eggplant-text.text-darken-1 {
  color: #E53935 !important;
}

.eggplant.darken-2 {
  background-color: #D32F2F !important;
}

.eggplant-text.text-darken-2 {
  color: #D32F2F !important;
}

.eggplant.darken-3 {
  background-color: #C62828 !important;
}

.eggplant-text.text-darken-3 {
  color: #C62828 !important;
}

.eggplant.darken-4 {
  background-color: #B71C1C !important;
}

.eggplant-text.text-darken-4 {
  color: #B71C1C !important;
}

.eggplant.accent-1 {
  background-color: #FF8A80 !important;
}

.eggplant-text.text-accent-1 {
  color: #FF8A80 !important;
}

.eggplant.accent-2 {
  background-color: #FF5252 !important;
}

.eggplant-text.text-accent-2 {
  color: #FF5252 !important;
}

.eggplant.accent-3 {
  background-color: #FF1744 !important;
}

.eggplant-text.text-accent-3 {
  color: #FF1744 !important;
}

.eggplant.accent-4 {
  background-color: #D50000 !important;
}

.eggplant-text.text-accent-4 {
  color: #D50000 !important;
} */