body {
    background-image: url(../images/ai.png);
    font-family: 'Saira', sans-serif;
}

.brand-logo, h2 {
    font-family: 'Bungee Shade', cursive;
}

.container {
    background: rgba(0, 0, 0, 0.7);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.pageTitle {
    /* background: rgba(0, 0, 0, 0.7); */
    padding: 10px 0px;
    color: black;
    text-align: center;
}

.card.horizontal .card-image img {
    max-height: 200px;
}

.card-content {
    color: black;
}

.collapsible-header {
    font-size: 24px;
}

.segments {
    font-size: 20px;
}

.reveal-container {
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
}

#storyId {
    display: none;
}

.menu-content {
    color: black;
}

.card-text {
    font-size: 20px;
}

@media only screen and (min-width: 200px) {
    nav > .nav-wrapper > .brand-logo {
        font-size: 1rem;
    }
    h2 {
        font-size: 2rem;
    }
    .card .card-title {
        font-size: 20px;
    }
    .menu-content > p {
        display: none;
    }
    .menu-image {
        display: none;
    }
}

@media only screen and (min-width: 377px) {
    .menu-image {
        display: block;
    }
}

@media only screen and (min-width: 475px) {
    nav > .nav-wrapper > .brand-logo {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 2.3rem;
    }
    .menu-content > p {
        display: block;
    }
}

@media only screen and (min-width: 502px) {
    .card .card-title {
        font-size: 24px;
    }
}

@media only screen and (min-width: 704px) {
    h2 {
        font-size: 3.56rem;
    }
}