<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Madmax Madlibs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Saira" rel="stylesheet">

    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">

    <!-- General CSS styling -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

    <!-- Adding color palatte sytles -->
    <link rel="stylesheet" href="/assets/css/colors.css" type="text/css" />

    <!-- Stylesheet with styles specific to page -->
    {{!-- {{{ stylesheet }}} --}}
</head>

<body class="grey darken-4">
    <nav>
        <div class="nav-wrapper grey darken-4">
            <a href="/" class="brand-logo">Madmax Madlibs</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/">Menu</a></li>
                {{!-- <li><a href="#">My Stories</a></li> --}}
            </ul>
            <ul class="dropdown-content" id="mobile-demo">
                <li><a href="/">Menu</a></li>
                {{!-- <li><a href="#">My Stories</a></li> --}}
            </ul>
        </div>
    </nav>
    <div class="container">
        {{{ body }}}
    </div>

    <!-- Compiled and minified jquery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Compiled and minified Materialize JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>

    <script src="https://code.responsivevoice.org/responsivevoice.js"></script>

    <script src="../assets/javascript/form_input_validation.js"></script>

    <script type="text/javascript">
        $('.button-collapse').dropdown({
            inDuration: 300,
            outDuration: 225,
            constrainWidth: false, // Does not change width of dropdown to that of the activator
            hover: false, // Activate on hover
            gutter: 0, // Spacing from edge
            belowOrigin: true, // Displays dropdown below the button
            alignment: 'left', // Displays dropdown with edge aligned to the left of button
            stopPropagation: false // Stops event propagation
        }
        );
    </script>

</body>

</html>