<ul class="collapsible" data-collapsible="expandable">
    <li>
        <div class="collapsible-header">Nouns</div>
        <div class="collapsible-body">
            <h5>Noun</h5>
            <div class="row">
                <div class="input-field col s12 m6">
                    {{#each this.noun}}
                    <input id="{{this.}}" type="text" class="validate">
                    <label for="last_name">(i.e. chair, orange juice, monkey)</label> 
                    {{/each}}
                </div>
            </div>
            <h5>Plural Noun</h5>
            <div class="row">
                <div class="input-field col s12 m6">
                    {{#each this.noun}}
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">(i.e. eggs, stars, mice)</label> 
                    {{/each}}
                </div>
            </div>
            <h5>Animal</h5>
            <div class="row">
                <div class="input-field col s12 m6">
                    {{#each this.noun}}
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">(i.e. cheetah, squirrel, lizard)</label> 
                    {{/each}}
                </div>
            </div>
            <h5>A Place</h5>
            <div class="row">
                <div class="input-field col s12 m6">
                    {{#each this.noun}}
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">(i.e. San Francisco, the bathroom, Applebees)</label> 
                    {{/each}}
                </div>
            </div>
            <h5>Part of the Body</h5>
            <div class="row">
                <div class="input-field col s12 m6">
                    {{#each this.noun}}
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">(i.e. eyeball, arm, leg)</label> 
                    {{/each}}
                </div>
            </div>
            <h5>Type of Food</h5>
            <div class="row">
                <div class="input-field col s12 m6">
                    {{#each this.noun}}
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">(i.e. sushi, pie, burrito)</label> 
                    {{/each}}
                </div>
            </div>
        </div>
    </li>
    <li>
        <div class="collapsible-header">Verbs</div>
        <div class="collapsible-body">
            {{#each this.noun}} {{/each}}
        </div>
    </li>
    <li>
        <div class="collapsible-header">Adjectives</div>
        <div class="collapsible-body">
            {{#each this.noun}} {{/each}}
        </div>
    </li>
    <li>
        <div class="collapsible-header">Adverbs</div>
        <div class="collapsible-body">
            {{#each this.noun}} {{/each}}
        </div>
    </li>
    <li>
        <div class="collapsible-header">Nouns</div>
        <div class="collapsible-body">
            {{#each this.noun}} {{/each}}
        </div>
    </li>
</ul>