<div class="container">
    <h1 class="text-center">Choose a Madlib</h1>
    <div class="row">
        {{#each madlib}}
        <div class="col s12 m6">
            <h2 class="header">{{this.title}}</h2>
            <div class="card horizontal">
                <div class="card-image">
                    <img src="https://lorempixel.com/100/190/nature/6">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{this.description}}</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>